* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #00af9e;
    z-index: 1;
}

.box-fake {
    height: 40px;
    width: 100vw;
}

.box-title {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 40px;
    font-size: 35px;
    text-align: center;
    z-index: -1;
}

form {
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
}

.ete {
    position: sticky;
    left: 2px;
    top: 3px;
    padding: 10px;
    background-color: rgb(0, 114, 222);
    color: white;
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
}

table {
    background-color: #95c0c9;
    margin-top: 6px;
    z-index: 1;
    position: relative;
    width: fit-content;
    height: fit-content;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Estilo para a primeira coluna (cabeçalhos de linha) */

.time th {
    border: 1px solid black;
}

.line {
    height: fit-content;
    position: sticky;
    left: 0px;
    color: black;
    width: 182px;
}

.line p {
    background-color: #a5d0f6;
    padding: 5px 0 5px 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    min-height: fit-content;
    height: 45px;
}

.head {
    border: 1px solid;
    background-color: #1e1d30;
    color: white;
}

.head:first-child {
    width: 182px;
}

td input {
    margin: 1px;
    padding-left: 3px;
    font-size: 16px;
    width: 100px;
    height: 35px;
    user-select: none;
    border: none;
}

.buttons {
    width: fit-content;
    margin-top: 10px;
    position: sticky;
    left: 2px;
    display: flex;
    gap: 10px;
}

.send, .clear {
    padding: 10px;
    cursor: pointer;
}

.error-box {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.buttons-fake {
    height: 57px;
    width: 1px;
}

#error {
    position: relative;
}

#error p {
    background-color: rgb(177, 210, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 3px;
    width: fit-content;
    font-size: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.success {
    color: rgb(0, 149, 255);
    text-shadow: 1px 1px white;
}

.error {
    color: rgb(255, 67, 67);
    text-shadow: 1px 1px white;
}

.editable {
    display: block;
}

.no-editable {
    pointer-events: none;
    background-color: #d3dfe2;
}