:root {
    --blue-bg: rgb(52, 128, 255);
    --blue-bg-three: #00af9e;
    --font-Y: 'Ysabeau SC';
    --font-SM: 'SpaceMono';
}

@font-face {
    font-family: 'Ysabeau SC';
    src: url('../../fonts/Ysabeau_SC/YsabeauSC-VariableFont_wght.ttf');
    src: url('../../fonts/Ysabeau_SC/YsabeauSC-VariableFont_wght.ttf'), format('truetype');
}

@font-face {
    font-family: 'SpaceMono';
    src: url('../../fonts/Space_Mono/SpaceMono-Regular.ttf');
    src: url('../../fonts//Space_Mono/SpaceMono-Regular.ttf'), format('truetype');
}

.form-box {
    background-color: var(--blue-bg-three);
}

.form-container {
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--blue-bg-three);
    padding-left: 10px;
    padding-right: 10px;
    scrollbar-color: #64d7cc #24746c;
}

.form-container::-webkit-scrollbar-thumb {
    background-color: #24746c;
}

.buttons span {
    cursor: pointer;
}

span.refresh-button-form:hover {
    color: rgb(49, 228, 255);
}

span.done-form {
    display: none;
}

span.done-form.show {
    color: rgb(46, 67, 235);;
    display: inline-block;
    opacity: 1;
    transition: opacity 2s;
}

.title-box>.table {
    position: absolute;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: var(--blue-bg-two);
    border-radius: 50%;
    cursor: pointer;
}

.title-box>.table:hover {
    filter: brightness(1.3);
}

.title-box>.table:active {
    scale: 1.2;
}

.title-box .title {
    color: rgb(255, 255, 255);
    font-size: 19px;
    text-align: center;
    width: 100%;
}

.form-data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.data-form {
    border-collapse: collapse; /* Isso remove o espaçamento entre as células da tabela */
    width: 100%; /* Define a largura da tabela */
}

.grid {
    display: grid;
}

.data-form th, .data-form td {
    border: 1px solid #000; /* Adiciona uma borda de 1px sólida às células da tabela */
    padding: 8px; /* Define um espaçamento interno para o conteúdo das células */
    text-align: center; /* Alinha o texto ao centro nas células */
}

.data-form th {
    background-color: #24746c; /* Define uma cor de fundo para as células de cabeçalho (opcional) */
    cursor: pointer;
    user-select: none;
}

.enable {
    display: flex;
}

.disable {
    display: none;
}

@media screen and (max-width: 1144px) {
    
}